export VERTEX_PROJECT_ID=your_project_id
export BQ_LOCATION=US
# Keep as is
export VERTEX_PIPELINE_ROOT=gs://${VERTEX_PROJECT_ID}-pl-root
export VERTEX_SA_EMAIL=vertex-pipelines@${VERTEX_PROJECT_ID}.iam.gserviceaccount.com


export CONTAINER_IMAGE_AR=${VERTEX_LOCATION}-docker.pkg.dev/${VERTEX_PROJECT_ID}/mlops-docker-repo
export IMAGE_NAME=taxifare_training_container
export IMAGE_TAG=v1

export KFP_TEMPLATE_AR=https://${VERTEX_LOCATION}-kfp.pkg.dev/${VERTEX_PROJECT_ID}/mlops-pipeline-repo
